.notification-container{
    box-sizing: border-box;
    position: fixed;
    
}
.notification-toast{
    display: flex;
    justify-content: center;
    padding: 10px 4px;
    width: 246px;
    height: 28px;
    background: #191919;
    margin-bottom: 5px;
    text-align: center;
    align-items: center;
    align-content: center;
    
}
.top-right {
    top: 12px;
    right: 12px;
    transition: transform .6s ease-in-out;
    animation: toast-in-right .7s;
}
.notification-container p{
    color: white;
    font-family: var(--text-medium-lcg);
    font-size: 12px;
    margin:0;
    

}
@keyframes toast-in-right {
	from {
	  transform: translateX(100%);
	  
	}
	to {
	  transform: translateX(0);
	}
}