.container{
    display: flex;
    flex-direction: column;
}
.container p{
    font-family: "GraphikLCGMedium";
    font-size: 14px;
    line-height: 120%;
    color: white;
}
.match_info_upcoming{
    margin: 0 auto;
    margin-top: 60px;
    width: 939px;
    background-color: var(--base);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.match_info_upcoming_stream{
    display: flex;
    margin-right: 0;
    width: 330px;
    height: 32px;
    background-color: #242424;
    align-items: center;
    margin-bottom: 10px;
}

.match_info_upcoming_stream p{
    color: white;
    font-family: "GraphikLCGMedium";
    font-weight: 500;
    font-size: 13px;
    line-height: 120%;
    margin-left: 5px;

}


#map_1 .map_img{
    /* background-image: url("img/maps/desc/overpass.jpg"); */
    height: 30px;
    width: 330px;
}
#map_2{
    opacity: 1;
}
#map_2 .map_img{
    /* background-image: url("img/maps/desc/anubis.svg"); */
    height: 30px;
    width: 330px;
}
#map_3{
    opacity: 0.3;
}
#map_3 .map_img{
    /* background-image: url("img/maps/desc/nuke.svg"); */
    height: 30px;
    width: 330px;
}
/*то что находится в мини карте*/
/*лого первой команды*/
.map .logo_first_team{
    width: 25px;
    height: 25px;
    /* background-image: url("img/teams_logo/AbuDabi.svg"); */
    background-size: cover;
}
.map .logo_second_team{
    width: 25px;
    height: 25px;
    /*background-image: url("img/teams_logo/pupa.svg");*/
    background-size: cover;
}
.pick{
    width: 24px;
    height: 10px;
    /*background-image: url("img/pick.svg");*/
}
.map .name_first_team{ /*название первой команды*/
    width: 57px;
    height: 17px;
    
}
.map .name_first_team p{
    margin: 0;
}
.map .name_second_team p{
    margin: 0;
}
.map .name_second_team{
    width: 57px;
    height: 17px;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}
.map .score_first_team{
    width: 57px;
    height: 19px;
}
.map .score_first_team p{
    color: red;
    margin: 0;
}
.map .score_second_team{
    width: 57px;
    height: 19px;
    display: flex;
    justify-content: flex-end;
}
.map .score_second_team p{
    color: green;
    margin: 0;
}
.map_points{
    background-color: #191919;
    height: 47px;
    width: 320px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
    padding: 5px;
}
.map_points .first_team{
    width: 86px;
    height: 37px;
    gap: 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.map_points .second_team{
    width: 86px;
    height: 37px;
    gap: 4px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
#first_team_first_match{
    opacity: 0.4;
}

.scoreboard_block{
    width: 648px;
    height: 497px;
    background-color: var(--base);
    margin: 0 auto;
    margin-top: 70px;
    overflow-x: hidden;
}
.scoreboard_block p, .scroll_logs_block p, .match_statistic_block p{
    font-family: "GraphikLCGMedium";
    font-size: 14px;
    margin: 0;
    margin-bottom: 5px;
    color: white;
    
}

.scroll_logs_block{
    width: 651px;
    height: 378px;
    margin: 0 auto;
    margin-top: 30px;
}

  .match_statistic_block{
    margin: 0 auto;
    background-color: var(--base);
    width: 648px;
    height: 475px;
    margin-top: 50px;
  }
.ip_match{
    padding: 9px 5px 8px 10px;
    width: 315px;
    height: 15px;
    background: #191919;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ip_match p{
    color: rgba(255, 255, 255, 0.25);
    font-family: var(--text-regular-lcg);
    font-size: 12px;
    margin: 0;
}
.ip_block_images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 25px;

    
    width: 110px;
    height: 14px;
    
}

.minus{
    width: 14px;
    border-radius: 10px;
    border: 2px solid #4C4C4C;
    cursor: pointer;
}
.minus:hover{
    filter: invert(66%) sepia(95%) saturate(557%) hue-rotate(94deg) brightness(143%) contrast(101%);
}

.add_stream{
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 5px;
    cursor: pointer;
}
.add_stream p{
    font-size: 16px;
    font-family: var(--text-regular-lcg);
    color: white;
    pointer-events: none;
}
.add_stream img:hover{
    filter: invert(66%) sepia(95%) saturate(557%) hue-rotate(94deg) brightness(143%) contrast(101%);
}
