

 
.container{
    display: flex;
    flex-direction: column;
}
.container p{
    font-family: "GraphikLCGMedium";
    font-size: 14px;
    line-height: 120%;
    color: white;
}
.container_time_match{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin:13px auto;
    height: 130px;
    width: 100%;
}
.container_time_match_time a{
    font-size: 32px;
    font-weight: 500;
    font-family: "GraphikLCGMedium";
    color: white;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}
.container_time_match_date{
    color: rgba(255,255,255,0.5);
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    margin-top: 16px;
    font-family: "GraphikLCGRegular";
}
.container_time_match_cup{
    color: #1cbcff;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    font-family: "GraphikLCGRegular";
}
.container_time_match_cup a{
    text-decoration: none;
    color: #1cbcff;
}
.container_time_match_cup a:hover{
    transition: color 0.2s 0s ease-in-out;
    color: #8dddff;
}
.container_time_match_live{
    color: white;
    font-family: "GraphikLCGMedium";
    font-weight: 500;
    font-size: 20px;
    margin-top: 15px;
}
.match_info_upcoming{
    margin: 0 auto;
    margin-top: 60px;
    width: 939px;
    background-color: var(--base);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.match_info_upcoming_maps_desc{
    /* display: flex;
    width: 330px;
    height: 73px;
    background-color: #191919;
    margin-bottom: 25px; */

    width: 330px;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0px 10px 10px;

    margin-bottom: 25px;

    background-color: var(--base-09);
}
.match_info_upcoming_maps_desc p{
    color: #ffffff;
   
    font-family: var(--text-regular-lcg);
    font-size: 12px;
    
    line-height: 120%;
    opacity: 0.5;
    /* margin-left: 10px; */
    margin: 0;
}
.maps_news{
    /* width: 330px;
    height: 148px;
    background-color: #191919;
    padding: 5px;
    margin-bottom: 25px; */

    width: 330px;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0px 10px 10px;

    margin-bottom: 25px;

    background-color: var(--base-09);
}
.maps_news p{
    font-family: var(--text-regular-lcg);
    font-size: 12px;
    line-height: 120%;
    margin: 0;
    margin-top: 5px;
    color: white;
    opacity: 0.5;
}
.match_info_upcoming_stream{
    display: flex;
    margin-right: 0;
    width: 330px;
    height: 32px;
    background-color: #242424;
    align-items: center;
    margin-bottom: 10px;
}

.match_info_upcoming_stream p{
    color: white;
    font-family: "GraphikLCGMedium";
    font-weight: 500;
    font-size: 13px;
    line-height: 120%;
    margin-left: 5px;

}
.stream{
    width: 100%;
    height: 32px;
    background-color: #191919;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.stream p{
    margin: 0;
    margin-left: 5px;
    margin-top: 9px;
    font-size: 12px;
}
.stream_country{
    width: 20px;
    height: 15px;
    margin-left: 6px;
    margin-top: 9px;
}

.stream_viewers {
    display: flex;
    margin-right: 5px;
    align-content: center;
    flex-wrap: wrap;
}
.stream_viewers p{
    margin: 0;
}
.stream_viewers a{
    width: 10px;
    height: 10px;
    margin-left: 5px;
    /* background-image: url("img/twitch_link.svg"); */
}
.map_upcoming{
    width: 330px;
    height: 30px;
    
    /* background-image: url('img/maps/desc/TBA.svg'); */
    margin-bottom: 5px;

}
.map{
    display: flex;
    width: 330px;
    height: 77px;
    margin-bottom: 5px;
    flex-direction: column;
}

.map_points .score{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    opacity: 0.7;
    
    align-content: flex-end;
    font-family: "GraphikLCGRegular";
    font-size: 12px;
}
.map_points .score p{
    margin: 0;
    color: white;
    font-family: "GraphikLCGRegular";
    font-size: 12px;
}
#map_1 .map_img{
    /* background-image: url("img/maps/desc/overpass.jpg"); */
    height: 30px;
    width: 330px;
}
#map_2{
    opacity: 1;
}
#map_2 .map_img{
    /* background-image: url("img/maps/desc/anubis.svg"); */
    height: 30px;
    width: 330px;
}
#map_3{
    opacity: 0.3;
}
#map_3 .map_img{
    /* background-image: url("img/maps/desc/nuke.svg"); */
    height: 30px;
    width: 330px;
}
/*то что находится в мини карте*/
/*лого первой команды*/
.map .logo_first_team{
    width: 25px;
    height: 25px;
    /* background-image: url("img/teams_logo/AbuDabi.svg"); */
    background-size: cover;
}
.map .logo_second_team{
    width: 25px;
    height: 25px;
    /*background-image: url("img/teams_logo/pupa.svg");*/
    background-size: cover;
}
.pick{
    width: 24px;
    height: 10px;
    /*background-image: url("img/pick.svg");*/
}
.map .name_first_team{ /*название первой команды*/
    width: 57px;
    height: 17px;
    
}
.map .name_first_team p{
    margin: 0;
}
.map .name_second_team p{
    margin: 0;
}
.map .name_second_team{
    width: 57px;
    height: 17px;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}
.map .score_first_team{
    width: 57px;
    height: 19px;
}
.map .score_first_team p{
    color: red;
    margin: 0;
}
.map .score_second_team{
    width: 57px;
    height: 19px;
    display: flex;
    justify-content: flex-end;
}
.map .score_second_team p{
    color: green;
    margin: 0;
}
.map_points{
    background-color: #191919;
    height: 47px;
    width: 320px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
    padding: 5px;
}
.map_points .first_team{
    width: 86px;
    height: 37px;
    gap: 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.map_points .second_team{
    width: 86px;
    height: 37px;
    gap: 4px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
#first_team_first_match{
    opacity: 0.4;
}
.score{}
.scoreboard_block{
    width: 648px;
    height: 497px;
    background-color: var(--base);
    margin: 0 auto;
    margin-top: 70px;
    overflow-x: hidden;
}
.scoreboard_block p, .scroll_logs_block p, .match_statistic_block p{
    font-family: "GraphikLCGMedium";
    font-size: 14px;
    margin: 0;
    margin-bottom: 5px;
    color: white;
    
}
.scoreboard{
    width: 648px;
    height: 475px;
    background-color: #1cbcff;
}
.scroll_logs_block{
    width: 651px;
    height: 378px;
    margin: 0 auto;
    margin-top: 30px;
}
.scroll_logs{
    overflow: scroll;
    scrollbar-width: thin;
    scrollbar-color: hsl(0, 75%, 5%);
    width: 648px;
    height: 356px;
    
    background-color: #1cbcff;
}
.scroll_logs::-webkit-scrollbar {
    width: 8px;               /* ширина scrollbar */
  }
  .scroll_logs::-webkit-scrollbar-track {
    background: #242424;        /* цвет дорожки */
  }
  .scroll_logs::-webkit-scrollbar-thumb {
    background-color: #191919;    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    /*border: 3px solid orange;   padding вокруг плашки */
  }
  .scroll_logs::-webkit-scrollbar-corner {
    background: #242424;
  }
  .match_statistic_block{
    margin: 0 auto;
    background-color: var(--base);
    width: 648px;
    height: 475px;
    margin-top: 50px;
  }
  /* 
  fg/sg/tg - first game/ second game/ third game
  fh/sh - first half/ second half
  ft/st - first team/ second team
  */
  #fg_fh_ft{
    color: #f44e1c;
  }
  #fg_fh_st{
    color:#1cbcff;
  }
  #fg_sh_ft{
    color: #1cbcff;
  }
  #fg_sh_st{
    color: #f44e1c;
  }
  #sg_fh_ft{
    color: #f44e1c;
  }
  #sg_fh_st{
    color:#1cbcff;
  }
  #sg_sh_ft{
    color: white;
  }
  #sg_sh_st{
    color: white;
  }
  #tg_fh_ft{
    color: white;
  }
  #tg_fh_st{
    color:white;
  }
  #tg_sh_ft{
    color: white;
  }
  #tg_sh_st{
    color: white;
  }

  #fg_score{

  }
  #sg_score{

  }
  #tg_score{
    visibility: collapse;
  }