.event_header{
    margin: 0 auto;

    width: 715px;
    height: auto;
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: var(--base-09);
}

.info_wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 3px;
}
.info_wrapper p{
    font-family: var(--text-regular-lcg);
    color: white;
    font-size: 14px;
    margin: 0;

    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info_wrapper span{
    font-family: var(--text-regular-lcg);
    color: var(--white40);
    font-size: 12px;
}

.event_date_wrapper{
    width: 179px;
}

.event_prize_wrapper{
    width: 83px;
}

.event_fee_wrapper{
    width: 60px;
}

.event_team_wrapper{
    width: 63px;
}

.event_type_wrapper{
    width: 45px;
}

.event_format_wrapper{
    width: 47px;
}

.event_location_wrapper{
    width: 135px;
}

.event_image_header{
    margin: 0 auto;

    width: 745px;
    height: 148px;
    overflow: hidden;
    object-position: center;
    position: relative;
}
.event_image_header img{
    margin: -5px 0px 0px -100px;
}

.crop_header img{
    width: 940px;
    height: 230px;
}

.event_tabs{
    margin: 0 auto;
    padding: 25px 0px 0px;

    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    list-style-type: none;

    gap: 90px;
}
.join_tournament{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px 10px;
    gap: 10px;
    color: var(--base-05);
    width: 223px;
    height: 19px;
    cursor: pointer;
    border: 1px solid var(--base-05);
    margin: 0 auto;
    margin-top: 30px;
    transition: color 0.3s 0s linear;
}
.join_tournament p{
    font-family: var(--text-medium-lcg);
    font-size: 16px;
    
}
.join_tournament:hover{
    color: #008d50;
}
.leave_tournament{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px 10px;
    gap: 10px;
    color: #FF1E1E;
    width: 223px;
    height: 19px;
    cursor: pointer;
    border: 1px solid #FF1E1E;
    margin: 0 auto;
    margin-top: 25px;
    transition: color 0.3s 0s linear;
}
.leave_tournament p{
    font-family: var(--text-medium-lcg);
    font-size: 16px;
    
}
.leave_tournament:hover{
    color:#cb0f0f;
}